<!DOCTYPE html>
<html>
<head>
    <title>GraphAnnotator</title>
</head>
<body>
    <h1>Create your edition</h1>
    <h2>3/3 Last check</h2>

    <!-- metadata -->
    <form method="post" action="/add/info">
        <label>Title of the edition</label>
        <input type="text" value="" name="title">
        <label>Author of the edited work</label>
        <input type="text" name="author">
        <label>Editor</label>
        <input type="text" name="editor">
        <input type="submit" value="Submit">
    </form>
    
</body>
</html>